.App {
  font-family: sans-serif;
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: row; /* Расположение элементов в ряд */
  align-items: flex-start; /* Выравнивание по вертикали по верху */
  justify-content: center; /* Центрирование по горизонтали */
  max-width: 960px; /* Ограничение максимальной ширины для лучшего вида на больших экранах */
  margin: 20px auto; /* Центрирование контейнера на странице */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.instructions {
  margin-top: 10px;
  font-size: 0.9em;
  color: #777;
}

/* Стили для Canvas и ColorPalette будут в их соответствующих файлах CSS */
